/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  line-height: 1.5;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(i) {
  font-family: 'Roboto', sans-serif;
}

:before,
:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

header,
section,
footer {
  display: block;
  width: 100%;
}

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
  text-align: center;
  margin-bottom: 60px;
}

.section-title h2 {
  font-size: 45px;
  color: #000000;
  font-weight: 700;
  font-family: 'Great Vibes', cursive;
  letter-spacing: 2px;
  margin: 0;
  text-transform: capitalize;
}
